# McDonald's Beyond the Arch Promotion and Raptors 3PT%

On October 11th of 2018, just before the start of Raptors' 2018/19 season, McDonald's Canada launched a promotional campaign called, "Beyond The Arch": `When the Raptors score twelve 3-pointers or more, all of Ontario scores FREE medium fries with the My McD’s app.` (https://twitter.com/McDonaldsCanada/status/1050477769900077056)

**What basketball stats led the marketing analysts and statisticians at McDonald's Canada to conclude that 12 three-pointers would be the turning point of province-wide free french fries or absolutely nothing?** And at the end of the season, why did they extend the campaign until the end of the playoffs?

In [1]:
import pandas as pd
import numpy as np

In [20]:
df_team = pd.read_csv('season_stats_team.csv')
df_player = pd.read_csv('season_stats_player.csv')

In [21]:
df_team.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,2014-10-29,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,2014-11-01,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,2014-11-05,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,2014-11-07,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,2014-11-08,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29

In [22]:
df_raptors = df_team.query('Team == "TOR"')

In [23]:
df_raptors.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
2214,1132,TOR,1,2014-10-29,Home,ATL,W,109,102,37,...,9,17,0.529,10,42,26,6,8,17,24
2215,2132,TOR,2,2014-11-01,Away,ORL,W,108,95,33,...,12,24,0.500,9,40,25,3,7,14,37
2216,3132,TOR,3,2014-11-02,Away,MIA,L,102,107,37,...,28,38,0.737,11,43,22,6,6,16,29
2217,4132,TOR,4,2014-11-04,Home,OKC,W,100,88,32,...,14,25,0.560,6,41,23,4,3,19,27
2218,5132,TOR,5,2014-11-05,Away,BOS,W,110,107,42,...,17,18,0.944,17,55,22,5,3,27,25

In [24]:
df_raptors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328 entries, 2214 to 9675
Data columns (total 41 columns):
Unnamed: 0                  328 non-null int64
Team                        328 non-null object
Game                        328 non-null int64
Date                        328 non-null object
Home                        328 non-null object
Opponent                    328 non-null object
WINorLOSS                   328 non-null object
TeamPoints                  328 non-null int64
OpponentPoints              328 non-null int64
FieldGoals                  328 non-null int64
FieldGoalsAttempted         328 non-null int64
FieldGoals.                 328 non-null float64
X3PointShots                328 non-null int64
X3PointShotsAttempted       328 non-null int64
X3PointShots.               328 non-null float64
FreeThrows                  328 non-null int64
FreeThrowsAttempted         328 non-null int64
FreeThrows.                 328 non-null float64
OffRebounds                 328 non-null int64
TotalRebounds               328 non-null int64
Assists                     328 non-null int64
Steals                      328 non-null int64
Blocks                      328 non-null int64
Turnovers                   328 non-null int64
TotalFouls                  328 non-null int64
Opp.FieldGoals              328 non-null int64
Opp.FieldGoalsAttempted     328 non-null int64
Opp.FieldGoals.             328 non-null float64
Opp.3PointShots             328 non-null int64
Opp.3PointShotsAttempted    328 non-null int64
Opp.3PointShots.            328 non-null float64
Opp.FreeThrows              328 non-null int64
Opp.FreeThrowsAttempted     328 non-null int64
Opp.FreeThrows.             328 non-null float64
Opp.OffRebounds             328 non-null int64
Opp.TotalRebounds           328 non-null int64
Opp.Assists                 328 non-null int64
Opp.Steals                  328 non-null int64
Opp.Blocks                  328 non-null int64
Opp.Turnovers               328 non-null int64
Opp.TotalFouls              328 non-null int64
dtypes: float64(6), int64(30), object(5)
memory usage: 107.6+ KB

In [25]:
df_raptors = df_raptors[['Date', 'Home', 'Opponent', 'WINorLOSS', 'TeamPoints', 'OpponentPoints','X3PointShots', 'X3PointShotsAttempted', 'X3PointShots.']]

In [26]:
df_raptors.columns = ['date', 'home', 'opp', 'win', 'tor_pts', 'opp_pts', 'threePM', 'threePA', 'threePP']

In [27]:
df_raptors.head()

            date  home  opp win  tor_pts  opp_pts  threePM  threePA  threePP
2214  2014-10-29  Home  ATL   W      109      102        8       26    0.308
2215  2014-11-01  Away  ORL   W      108       95        4       21    0.190
2216  2014-11-02  Away  MIA   L      102      107        4       16    0.250
2217  2014-11-04  Home  OKC   W      100       88        8       31    0.258
2218  2014-11-05  Away  BOS   W      110      107        7       16    0.438

In [28]:
df_raptors.date = pd.to_datetime(df_raptors.date)

In [31]:
df_raptors_1718 = df_raptors.query('date > "2017-10-01" and date < "2018-10-01"')

In [36]:
df_raptors_1718.threePP.mean()

0.3574756097560976

In [37]:
df_raptors_1718.threePM.mean()

11.804878048780488

In [40]:
len(df_raptors_1718.query('threePM >= 12'))/82

0.524390243902439

During the 2017-2018 regular season, the Raptors averaged **35.7% 3-point percentage** and **11.80 3-point shots made per game**. During the regular season, **the Raptors made 12 or more 3-point shots in 52.4% of their regular season games.**

Some Remarks and Speculation:
1. **11.80** 3-point shots per game is shockingly close to **"12"** that the promotion was based on
2. **52.44%** of games in 2017-2018 season would have qualified. McDonald's was willing to give away free fries every other game (and by giving away, they would be inviting customers to take care of a meal at McD's)
3. According to statistica.com (https://www.statista.com/statistics/561254/canada-average-fast-food-consumption-per-week/), roughly 83% of **Canadians in 2018 consumed fast food 0 to 3 times per week**
4. An NBA team during regular season will, on average, play **3 games per week** (https://slate.com/culture/2011/12/the-82-game-nba-schedule-explained.html)

Based on the numbers above, I speculate a possibility that it is McDonald's intended design to take for themselves a majority of an average Canadian's visits to a fast food restaurant by offering free fries once or twice a week. One could ask the question, "If what they're after is money, and to get money would be to monopolize Canadians' fast food restaurant visits, why didn't they offer free fries at a lower threshold of 3-point shots made?"

There may be very complex math involved, but I'm inclined to guess that it has something to do with how excited we get over a deal. When there is too much winning or losing, it takes the excitement away. If the free fries deal is too few or too often, it feels less like a deal one should feel inclined to act upon. A game that is close to being 50/50, resembling a coin flip, may have been determined to keep the excitement of winning just right.